@import url(https://fonts.googleapis.com/css?family=Pirata+One|Merriweather|Heebo);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #949494;
  background-image: url(/images/Untitled-1.png);
  background-size: cover; }

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7; }

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.project .project__title {
  font-size: 360px;
  font-weight: 800;
  width: 100%; }

.info-panel {
  font-family: "Heebo", sans-serif; }

.header__name {
  font-family: "Pirata One", serif;
  font-size: 22px; }

.hero {
  font-family: "Heebo", sans-serif; }

.about__link {
  font-weight: 300;
  color: #171717;
  opacity: 1;
  font-size: 12px;
  font-family: "Heebo", sans-serif;
  letter-spacing: 1em;
  text-transform: uppercase;
  mix-blend-mode: differencea; }

.about__link {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer; }

.bg__lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; }
  .bg__lines .bg__line {
    width: 20%;
    height: 100vh;
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
    float: left; }

.bg__text {
  position: fixed;
  top: 0%;
  left: 0px;
  right: 0;
  font-size: 180px;
  color: rgba(23, 23, 23, 0.05);
  font-weight: 900;
  z-index: -1;
  letter-spacing: .5em;
  overflow-wrap: break-word;
  line-height: 1em;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase; }
  .bg__text.show {
    opacity: 1; }
  .bg__text.hide {
    opacity: 0; }

/* Ipad */
@media screen and (min-width: 768px) {
  .bg__text {
    left: 350px; } }

.container {
  height: 100vh;
  perspective: 1px;
  perspective-origin: 50% 100%;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll; }

.hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative; }
  .hero h1 {
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(90deg);
    text-align: center;
    width: 400px;
    border: solid; }
  .hero__strip {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 0.5px solid #ffffff; }
    .hero__strip div {
      width: 50px;
      height: 50px;
      opacity: 1;
      background: #ffffff; }
  .hero__bg {
    position: absolute;
    background: #171717;
    background-size: 100%;
    height: 100%;
    width: 100%;
    animation: 10s float alternate infinite;
    z-index: -1; }

@keyframes float {
  0% { }
  100% {
    transform: scale(1.1); } }

.header {
  font-weight: 300;
  font-size: 1.4rem;
  top: 20px;
  right: 20px;
  position: fixed;
  z-index: 1000; }
  .header__name {
    padding: 10px;
    display: inline-block;
    clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
    background: #ffffff; }
    .header__name--first, .header__name--last {
      padding: 0;
      margin: 0;
      line-height: 1em; }

.info-panel {
  margin: 0px;
  position: fixed;
  top: calc(100vh - 50px);
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px 10px;
  background-color: white;
  color: rgba(23, 23, 23, 0.9);
  overflow-y: hidden;
  transform: translate3d(-200%, 0, 0);
  transition: all .5s ease-in; }
  .info-panel__expand-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #171717;
    opacity: .5;
    cursor: pointer;
    transition: .3s opacity; }
    .info-panel__expand-button:hover {
      opacity: 1; }
  .info-panel.expanded {
    top: 100px;
    overflow-y: auto;
    opacity: .99; }
  .info-panel.show {
    animation: .3s slide-in ease-in forwards; }
  .info-panel.hide {
    animation: .3s slide-out ease-in forwards; }
  .info-panel__title {
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase; }
  .info-panel__summary {
    padding-left: 20px;
    font-size: 14px; }
    .info-panel__summary--heading {
      font-weight: 800;
      margin-top: 20px; }
    .info-panel__summary--content {
      font-weight: 300;
      color: rgba(23, 23, 23, 0.5); }
    .info-panel__summary--tools {
      list-style: none;
      padding: none; }
      .info-panel__summary--tools li {
        color: rgba(23, 23, 23, 0.5); }
  .info-panel__links {
    display: flex;
    margin-top: 20px;
    justify-content: space-around; }
    .info-panel__links--link {
      border: solid;
      padding: 5px 10px;
      overflow: hidden;
      cursor: pointer;
      color: rgba(23, 23, 23, 0.5); }
      .info-panel__links--link:hover a {
        animation: .4s button-on-hover ease-in-out; }
      .info-panel__links--link a {
        font-size: 12px;
        display: inline-block;
        color: inherit; }

/* Ipad  *************/
@media screen and (min-width: 768px) {
  .info-panel {
    width: 250px;
    margin: 20px;
    padding: 20px;
    top: 0;
    max-height: 800px;
    overflow-y: auto; }
    .info-panel__expand-button {
      visibility: hidden; } }

/* Desktop and laptop  *************/
@media screen and (min-width: 1224px) {
  .info-panel {
    width: 300px; } }

@keyframes button-on-hover {
  0% {
    transform: translate3d(0, 0, 0); }
  49.9% {
    opacity: 1;
    transform: translate3d(0, -100%, 0); }
  49.99% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  49.999% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  50% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slide-in {
  0% {
    transform: translate3d(-110%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slide-out {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-110%, 0, 0); } }

.project {
  width: 100%;
  position: relative;
  display: block;
  transition: background .5s ease-out; }
  .project .project__container {
    padding: 10px 0; }
  .project .project__img {
    display: block;
    max-height: 100vh;
    width: auto;
    max-width: 100%;
    margin: 200px auto;
    z-index: 1; }
    .project .project__img-container {
      min-height: 100vh;
      position: relative; }
    .project .project__img--slowest-scroll {
      transform: translateZ(-0.2px) scale(1.2);
      z-index: 10; }
    .project .project__img--slower-scroll {
      transform: translateZ(-0.1px) scale(1.1);
      z-index: 20; }
    .project .project__img--normal-scroll {
      transform: translateZ(0);
      z-index: 30; }
  .project .project__image-row {
    display: flex;
    justify-content: space-around; }
    .project .project__image-row .project__img {
      margin: 0; }

/* Ipad */
@media screen and (min-width: 768px) {
  .project .project__container {
    margin-left: 260px;
    padding: 10px 0; }
  .project__img {
    max-width: 80%; } }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .project .project__container {
    margin-left: 310px;
    padding: 10px 0; }
  .project__img {
    max-width: 90%; } }

@keyframes text-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: .1; } }

@keyframes text-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
