@import "./utils/variables"; 

@import "./base/reset";
@import "./base/typography";

@import "./layout/about";
@import "./layout/background";
@import "./layout/container";
@import "./layout/hero";
@import "./layout/header";
@import "./layout/info-panel";
@import "./layout/project";