.bg {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    &__line {

        width: 20%;
        height: 100vh;
        border-right: .5px solid rgba($color-white, .1);
        float: left;
        
    }  
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-black;
        opacity: 0;
        transition: .4s opacity;
    }

    &__text {
        position: fixed;
        top: 0%;
        left: 0px;
        right: 0;
        font-size: 180px;
        color: rgba($color-white, .05);
        font-weight: 900;
        z-index: -1;
        letter-spacing: .5em;
        overflow-wrap: break-word;
        line-height: 1em;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;

        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }
    }

    &__scroll-meter {

        svg {
            width: 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: $container-margin * 2;

            circle {
                
                fill: none;
                stroke: $color-primary;
                stroke-width: 2;
            }
        }
    }
}

/* Ipad */
@media screen and (min-width: 768px) {

    .bg__text {
        left: 350px;
    }
}

