.container {

    height: 100vh;
    perspective: 1px;
    perspective-origin: 50% 100%;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-container {
    position: fixed;
    height: calc(100% - 40px);
    width: 100%;
    margin: $container-margin 0;
    box-sizing: border-box;
    overflow: hidden;
}