.header {
    font-weight: 300;
    font-size: 1.4rem;
    top: 20px;
    right: 20px;
    position: fixed;
    z-index: 1000;

    &__name {

        padding: 10px;
        display: inline-block;
        clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
        background: $color-white;

        &--first,
        &--last {

            padding: 0;
            margin: 0;
            line-height: 1em;
        }
    }

}