.hero {
    //clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    height: 100vh;
    width: 100vw;
    //box-shadow: 0px 2px 20px -6px rgba($color-black, .5);
    overflow: hidden;
    position: relative;
    h1 {
        font-size: 60px;
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0) rotate(90deg);
        text-align: center;
        width: 400px;
        border: solid;
        display: none;
    }

    &__strip {

        position: absolute;
        top: 20px;
        left: 20px;
        border: .5px solid $color-white;
        div {
            width: 50px;
            height: 50px;
            opacity: 1;
            background: $color-white;
        }

    }

    &__bg {
        position: absolute;
        background: $color-black;
        background-size: 100%;
        //clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
        height: 100%;
        width: 100%;
        animation: 10s float alternate infinite;
        z-index: -1;
    }
}

@keyframes float {
    0% {
    }
    100% {
        transform: scale(1.1);;
    }
}