.info-panel {
    margin: 0px;
    position: fixed;
    top: calc(100vh - 50px);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 10px;
    background-image: url(/images/billie-holiday.png);
    background-color: $color-primary;
    color: rgba($color-black, .9);
    overflow-y: hidden;
    transform: translate3d(-200%, 0, 0);
    transition: all .5s ease-in;

    &__expand-button {

        position: absolute;
        top: 10px;
        right: 20px;
        color: $color-black;
        opacity: .5;
        cursor: pointer;
        transition: .3s opacity;

        &:hover {
            opacity: 1;
        }

    }

    &.expanded {
        top: 100px;
        overflow-y: auto;
        //width: calc(100% - 100px);
        opacity: .99;

        .info-panel__expand {
            
        }
    } 

    &.show {
        animation: .3s slide-in ease-in forwards;
    }

    &.hide {
        animation: .3s slide-out ease-in forwards;
    }

    &__title {
        //border: solid;
        
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;

    }

    &__summary {
        //border: 1px solid rgba($color-black, .1);
        padding-left: 20px;
        font-size: 14px; 

        &--heading {

            font-weight: 800;
            margin-top: 20px;
            
        }

        &--content {

            font-weight: 300;
            color: rgba($color-black, .5);

        }

        &--tools {

            list-style: none;
            padding: none;
            
            li {

                color: rgba($color-black, .5);

            }
        }
        
    }

    &__links {

        display: flex;
        margin-top: 20px;
        justify-content: space-around;

        &--link {

            border: solid;
            padding: 5px 10px;
            overflow: hidden;
            cursor: pointer;
            color: rgba($color-black, .5);

            &:hover a {

                animation: .4s button-on-hover ease-in-out;

            }

            a {
                
                font-size: 12px;
                display: inline-block;
                color: inherit;
                
            }

        }
        
    }

}


/* Ipad  *************/
@media screen and (min-width: 768px) {

    .info-panel {

        width: 250px;
        margin: 10px;
        padding: 10px;
        top: 0;
        max-height: 800px;
        overflow-y: auto;
        clip-path: polygon(20px 0%, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0% 100%, 0% 20px);

        &__expand-button {
            visibility: hidden;
        }

    }
}

/* Desktop and laptop  *************/
@media screen and (min-width: 1224px) {

    .info-panel {

        width: 300px;

    }
    
}





@keyframes button-on-hover {

    0% {
        transform: translate3d(0, 0, 0);
    }

    49.9% {
        opacity: 1;
        transform: translate3d(0, -100%, 0);
    }

    49.99% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    49.999% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-in {
    0% {
        transform: translate3d(-110%,0,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes slide-out {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-110%,0,0);
    }
}