.project {
    width: 100%;
    position: relative;
    display: block;
    // the border allows the trigger positions to work
    // properly because otherwise this section's top is
    // placed inside/under margin-top

    .project__container {
        margin-left: 310px;
        padding: 10px 0;
    }

    .project__img {

        display: block;
        max-height: 100vh;
        width: auto;
        max-width: 90%;
        margin: 200px auto;
        z-index: 100;
        box-shadow: 0px 10px 30px -3px rgba($color-black, .55);

        &-container {

            min-height: 100vh;
            position: relative;

        }
        
    }

    .project__image-row {
        display: flex;
        justify-content: space-around;
    }

    .project__background {
        position: fixed;
        top: 0%;
        left: 350px;
        right: 0;
        font-size: 150px;
        //color: $color-background;
        color: rgba($color-black, .25);
        font-weight: 900;
        z-index: -1;
        //text-shadow: 0px 0px 1px rgba($color-black, 1);
        letter-spacing: .5em;
        overflow-wrap: break-word;
        line-height: 1em;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        
        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }
        
    }

    .project__rect {
        position: fixed;
        //background: rgba($color-white, .2);
        z-index: -1;
        top: 20%;
        bottom: 10%;
        left: 40%;
        right: 0;
        //box-shadow: 0px 20px 30px 3px rgba($color-black, .55);
    }

}







@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .1;
    }
}

@keyframes text-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}