.project {
    width: 100vw;
    height: 100vh;
    position: relative;

    .project__title {

        margin: 0;
        padding: 0;
        line-height: 1em;
        position: fixed;
        top: 0;
        text-shadow: 5px 5px 22px rgba($color-black, .5);
        word-wrap: break-word;
        

        &--back {
            animation: 3s text-fade-in;
            animation-delay: 3s;
            animation-fill-mode: both;
            z-index: 100;
        }

        &--front {

            animation: 3s text-fade-out;
            animation-delay: 3s;
            animation-fill-mode: both;
            z-index: 300;

        }
    }

    .project__img {

        position: absolute;
        right: 10%;
        //transform: translateX(-50%);
        box-shadow: 0px 20px 30px 3px rgba($color-black, .25);

        &--1 {  

            width: 70%;
            top: 50%;
            z-index: 200;
            //transform: translateY(-50%);
            
        }

        &--2 {

            top: 0;
            z-index: 200;
            height: 100%;
            
        }

        &-container {

            min-height: 100vh;
            position: relative;

        }
        
    }

    .project__info-card {

        position: fixed;
        bottom: 0px;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 200;
        padding: 20px;
        background-color: rgba($color-white, 1);
        background-image: url(/images/45-degree-fabric-light.png);
        background-size: cover;
        color: $color-black;
        //box-shadow: 0px 10px 16px rgba($color-black,.5);
        
        &--title {

            font-size: 30px;
            font-weight: 800;
            text-transform: uppercase;

        }

        &--summary {

            padding-left: 20px;
            font-size: 14px; 

            &-heading {

                font-weight: 800;
                margin-top: 20px;
                
            }

            p {

                font-weight: 300;
                color: lighten($color-black, 30%);

            }

            ul {

                list-style: none;
                padding: none;
                
                li {

                    color: lighten($color-black, 30%);

                }
            }
            
        }

        &--tools {


        }
    }

}







@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .1;
    }
}

@keyframes text-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}