
@import url(https://fonts.googleapis.com/css?family=Pirata+One|Heebo:100,300,900);

$primary-font: 'Heebo', sans-serif;
<<<<<<< HEAD
$name-tag-font: 'Pirata One', serif;
=======
$name-tage-font: 'Pirata One', serif;
>>>>>>> hero/one

body {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

.project {

    .project__title {
        font-size: 360px;
        font-weight: 800;
        width: 100%;
    }
}

.info-panel {
    font-family: $primary-font;
}

.header__name {
<<<<<<< HEAD
    font-family: $name-tag-font;
=======
    font-family: $name-tage-font;
>>>>>>> hero/one
    font-size: 22px;

    &--first {


    }

    &--last {

    }

}

.hero {
    font-family: $primary-font;
<<<<<<< HEAD
    
=======
>>>>>>> hero/one
}

.about__link {
    font-weight: 300;
    color: $color-black;
    opacity: 1;
    font-size: 12px;
    font-family: $primary-font;
    letter-spacing: 1em;
    text-transform: uppercase;
    mix-blend-mode: differencea;
    //text-shadow: 0px 0px 0px $color-white;
}