
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Heebo);


body {
    font-family: 'Abril Fatface', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-white;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}

.project {

    .project__title {
        font-size: 360px;
        font-weight: 800;
        //color: lighten($color-black, 5%);
        width: 100%;
    }

    .project__info-card {
        font-family: "Heebo", serif;
    }
}