.header {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
     
    svg {
        width: 80px;
        background: $color-black;
        padding: 5px;
        text {
            opacity: 0;
            stroke: $color-white;
            fill: none;
            stroke-width: 1;
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            mix-blend-mode: difference;
            
            &.show {
                animation: 2s animate linear forwards;
            }
        }
        
    }

}


@keyframes animate {
    0% {
    }
    80% {
        fill: rgba($color-white, 0);
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        fill: rgba($color-white, 1);
        opacity: 1;
        stroke-width: 0;
    }
 
}