.hero {
    
    height: calc(100vh - 40px);
    position: relative;
    opacity: 1;
    box-sizing: border-box;
    background: $color-bg-hero;
    overflow: hidden;
    
    &__text {
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 20%;
        left: 0%;
        z-index: 100;

        &--name {
            font-weight: 900;
            font-size: 90px;
        }
        &--job {
            font-weight: 900;
            font-size: 90px;
        }
        
    }

    svg {
        &.scribbles {
            
            height: 150%;
            //max-height: 100px;
            position: absolute;
            left: 20%;
            top: -10%;
            fill: none;
            opacity: 1;

            @for $i from 1 through 3 {

                #scribble-#{$i} {
                    stroke-width: 1;
                    
                    stroke: $color-primary;
                    opacity: 1;
                    animation: 1s scribble $i * .333s infinite;
                }
            }
            
        }

        &.squiggles {
            position: absolute;
            height: 100%;
            width: 100%;

            path {
                fill: none;
                opacity: 0;
                stroke-dasharray: 50 150;
                stroke-dashoffset: 100;
                stroke: $color-white;
                stroke-width: 2;

                @for $i from 1 through 30 {
                    &:nth-child(#{$i}) {
                        animation: 3s squiggle linear $i * .1s infinite;
                    }
                }
            }

            
        }
        
        
    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: $color-primary;
        z-index: 9;

        &--text {
            position: absolute;
            bottom: 0;
            right: 10px;
            color: $color-white;
        }

        
    }
}

@keyframes draw {
    from {
        stroke-dashoffset: 400;
        transform:  rotate(360deg);  
      
    }
    to {
        transform: rotate(0);
        opacity: .5;
    }
}
@keyframes scribbleBox {
    from {
        stroke-width: 2;
    }
    to {
        stroke-width: 4;
    }
}
@keyframes scribble {
    0% {
        opacity: 1;
    }
    
    33.33% {
        opacity: 1;
    }
    33.34% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.1% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes squiggle {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
        stroke-dashoffset: -50;
    }
    100% {
        opacity: 0;
        stroke-dashoffset: -50;
    }
}