$color-black: hsl(0, 0%, 9%);
$color-white: #ffffff;

$color-background: #949494;


$color-primary: #CC3121;
$color-secondary: #BDB64F;
$color-tertiary: #3A9444;

$color-bg-one: #eee;
$color-bg-two: #333;
$color-bg-three: #fff;



$container-margin: 20px;